<h2> Awesome Bucketlist App </h2>

<!-- Table starts here -->
<table id="table">
  <thead>
  <tr>
    <th>Priority Level</th>
    <th>Title</th>
    <th>Description</th>
    <!--<th> Delete </th>-->

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let list of lists">
    <td>{{list.chineseName}}</td>
    <td>{{list.mobile}}</td>
    <td>{{list.introduction}}</td>
    <!--<td> <button type="button" (click)="deleteList(list); $event.stopPropagation();">Delete</button></td>-->

  </tr>
  </tbody>
</table>

